body {
    text-align: center;
}

#que1,#que2,#que3,#que4,#que5,#results {
    display:none;
    width: 100%;
}
.mainbox {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 50%;
    background-color: aquamarine;
}

